* {
	scroll-behavior: smooth;
}

body {
	background-color: orange !important;
	transition: all 0.3s;
}




/*LOADING*/
.loader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.hidden {
	animation: fadeOut 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% { 
  		opacity: 0;
  		visibility: hidden; 
  	}
}




/*NAVBAR*/
.navbar{
	font-size: 1.1rem;
	background-color: black;
	transition: all 500ms;
	padding-bottom: 4px !important;
}
.navbar.scrolled {
	background-color: black;
	transition: all 500ms;
}
#navbarNav{
	margin-left: 20%;
}
ul{
	margin-top: 10px !important;
}


/*LANDING PAGE*/
.jumbotron {
	height: 100vh;
	background-image: url(imgs/gif2.gif);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: white;
	margin: 0;
}
#icon{
	height: 220px;
	width: 200px;
}
.main {
	text-align: center;
}
#disp{
 	font-weight: 500;
}
.typing {
	text-transform: uppercase;
	font-size: 70px;
}
.typ{
	color: orange !important;
	font-size: 70px;
	padding-left: 15px;
}
.blink {
  	animation: blink 0.5s infinite;
}
@keyframes blink{
  to { opacity: .0; }
}
.flex {
	margin-top: 70px;
	margin-left: 17%;
	display: flex;
	text-align: center;
}
.jumbotron{
	margin-bottom: 0 !important;
}
.fa-angle-double-down{
	margin-top: 60px;
	font-size: 2.3rem;
	color: orange;
}



/*ABOUT US*/
#au{
	padding: 50px 3%;
}
#tag{
	font-weight: 600;
	margin: 20px 0;
	text-align: center;
}
#cont{
	margin: 70px 5%;
	margin-right: 5%;
	font-size: 1.2rem;
}
#grpimg{
	float: right;
	margin: 0 3%;
	height: 350px;
}
#dom{
	font-weight: 700;
	margin: 30px 2%;
}
.domain{
	background-color: orange;
	color: black;
	font-size: 1.1rem;
	width: 60%;
	margin: 20px 20%;
	height: 80px;
}
.card-img1{
	height: 300px;
	border-radius: 0 0 20px 20px !important;
}
.domains{
	margin: 0 10% !important;
}
.card-body1{
	background-color: black;
	color: rgba(255,255,255,.5);
	padding: 16px !important;
	border-radius:20px 20px 0 0 !important;	
}
.card1{
	text-align: center;
	border-radius: 0 !important;
	background-color: transparent !important;
	border-color: transparent !important;
}
.card-title1{
	margin-bottom: 0 !important;
}
.card-img1{
	opacity: 1;
	transition: opacity 0.4s ease-in;
}	
.cover{
	height: 0;
	border-radius: 20px !important;
	background-color: transparent;
	opacity: 0;
	margin: 0;
	padding: 0;
}
.card1:hover .card-img1{
	position: absolute;
	opacity: 0.3;
	transition: opacity 0.4s ease-out;
	bottom: 0;
}
.blur{
    position: absolute;
    left: 0;
    top: 70px;
    transition-duration: 1s;
    opacity: 0;
}
.card1:hover .cover{
	position: absolute;
	padding-top: 50px !important;
	display: block;
	height: 100%;
	opacity: 1;
	transition: opacity 0.4s ease-in;
	color: orange;
	justify-content: center;
}
.card1:hover .card-body1{
	border-radius: 20px !important;
}
.card1:hover .card-title1{
	color: orange;
}




#division {
    overflow: visible;
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
    width: 80%;
    color: rgba(255,255,255,.5);
}
#division:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    color: rgba(255,255,255,.5);
    border-radius: 20px;
}


/*WORKSHOPS AND EVENTS*/
#work{
	padding: 60px 10%;
}
#im{
	height: 600px;
	width: 400px !important;
	margin: 0 32%;
}
.stacked-cards h2 {
	text-align: center;
	position: relative;
	top: -20px;
}
.container-fuild {
	max-width: 80%;
	margin: 0 auto;
}
.container-fixed {
	max-width: 100%;
	margin: 0 auto;
}
.stacked-cards {
	padding-top: 40px;
	padding-bottom: 15px;
}
.stacked-cards-fanOut {
	padding-bottom: 40px;
}
.stacked-cards-fanOut li img {
	max-height: 200px;
}
.stacked-cards li {
	height: 300px;
}
@media (max-width: 767px) {
	.stacked-cards li {
		height: 180px;
	}
}
.stacked-cards li:nth-child(n) {
	background-color: black;
}
.stacked-cards li:nth-child(2n) {
	background-color: white;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
.card2{
	background-color: orange !important;
	border: 0px !important;
}




/*CONTACT US*/
#conta {
	padding-top: 30px;
	background-image: url("imgs/001.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 700px;
	width: 100%;
	margin: 0;
}
#mail {
	float:left;
	height: 200px;
	width: 210px;
	margin-left: 10%;
}
#con {
	text-align: center;
	color:white;
}
#form {
	color: white;
}
#heading_cont{
	margin-top: 40px;
}
